@font-face {
  font-family: 'Museo Sans';
  src: url('../../src/fonts/MuseoSans-Bold.eot');
  src: local('Museo Sans Bold'), local('MuseoSans-Bold'),
  url('../../src/fonts/MuseoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/MuseoSans-Bold.woff2') format('woff2'),
  url('../../src/fonts/MuseoSans-Bold.woff') format('woff'),
  url('/../src/fonts/MuseoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../../styles/fonts/MuseoSans-Thin.eot');
//  src: local('Museo Sans Thin'), local('MuseoSans-Thin'),
//  url('../../styles/fonts/MuseoSans-Thin.eot?#iefix') format('embedded-opentype'),
//  url('../../styles/fonts/MuseoSans-Thin.woff2') format('woff2'),
//  url('../../styles/fonts/MuseoSans-Thin.woff') format('woff'),
//  url('../../styles/fonts/MuseoSans-Thin.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//}
