// ==============================
// Font size mixin
// ==============================

//  default font scale bounding
$font-lock-min:  400px !default;
$font-lock-max: 1000px !default;

//  font-size
@mixin font-size(
  $min,                         // font-size
  $max: null,                   // optional maximum font size
  $lock-min: $font-lock-min,  // optional minimum viewport width
  $lock-max: $font-lock-max   // optional maximum viewport width
){
  & { font-size: $min; line-height: $min + 10px; }
  @if $max {
    @media (min-width: $lock-min) {
      & {
        font-size: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
        line-height: calc(
                #{$min} + 10px +
                #{num($max + 10px) - num($min + 10px)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
      }
    }
    @media (min-width: $lock-max){
      & { font-size: $max; line-height: $max + 10px }
    }
  }
}

//  strip units helper function
@function num($input){
  @return $input/($input * 0 + 1);
}

@mixin fontH1 {
  // ...
}

@mixin fontH2 {
  // ...
}

@mixin fontH3 {
  // ...
}

@mixin fontH4 {
  // ...
}

@mixin fontH5 {
  // ...
}

@mixin fontP {
  // ...
}
